src/main/mule/sapi-signaturit.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="enviar-documento-firma">
        <http:listener config-ref="HTTP_Listener_config_Signaturit" 
                      path="/firma" 
                      allowedMethods="POST"
                      doc:name="Recibir solicitud de firma"/>
        
        <ee:transform doc:name="Preparar payload multipart">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output multipart/form-data
---
{
    parts: {
        "files[0]": {
            headers: {
                "Content-Type": "application/pdf",
                "Content-Disposition": 'form-data; name="files[0]"; filename="document.pdf"'
            },
            content: payload.parts.documento.content
        },
        "recipients[0][email]": {
            headers: {
                "Content-Type": "text/plain",
                "Content-Disposition": 'form-data; name="recipients[0][email]"'
            },
            content: payload.parts.email.content
        },
        "recipients[0][name]": {
            headers: {
                "Content-Type": "text/plain",
                "Content-Disposition": 'form-data; name="recipients[0][name]"'
            },
            content: payload.parts.nombre.content
        },
        "recipients[0][surname]": {
            headers: {
                "Content-Type": "text/plain",
                "Content-Disposition": 'form-data; name="recipients[0][surname]"'
            },
            content: payload.parts.apellido.content
        },
        "recipients[0][phone]": {
            headers: {
                "Content-Type": "text/plain",
                "Content-Disposition": 'form-data; name="recipients[0][phone]"'
            },
            content: payload.parts.telefono.content
        },
        "recipients[0][authentication_type]": {
            headers: {
                "Content-Type": "text/plain",
                "Content-Disposition": 'form-data; name="recipients[0][authentication_type]"'
            },
            content: "sms"
        },
        "type": {
            headers: {
                "Content-Type": "text/plain",
                "Content-Disposition": 'form-data; name="type"'
            },
            content: "advanced"
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <logger level="INFO" 
              message="payload"
              doc:name="Registrar payload inicial"/>
        
        <http:request method="POST" 
                    config-ref="HTTP_Request_Signaturit_Config" 
                    path="/v3/signatures.json"
                    doc:name="Enviar a Signaturit API">
            <http:headers><![CDATA[#[output application/java
---
{
    "Authorization" : "Bearer " ++ p('signaturit.token'),
    "Accept" : "application/json"
}]]]></http:headers>
        </http:request>
    </flow>

    <flow name="obtener-documento">
        <http:listener config-ref="HTTP_Listener_config_Signaturit" 
                      path="/documento/{signatureId}/{documentId}"
                      doc:name="Recibir solicitud documento"/>
        
        <try doc:name="Intentar obtener documento">
            <http:request method="GET" 
                        config-ref="HTTP_Request_Signaturit_Config" 
                        path="/v3/signatures/{signatureId}/documents/{documentId}/download/signed"
                        doc:name="Obtener documento firmado">
                <http:headers><![CDATA[#[{
                    'Authorization': 'Bearer ' ++ p('signaturit.token'),
                    'Accept': 'application/pdf'
                }]]]></http:headers>
                <http:uri-params><![CDATA[#[{
                    signatureId: attributes.uriParams.signatureId,
                    documentId: attributes.uriParams.documentId
                }]]]></http:uri-params>
            </http:request>
            
            <error-handler>
                <on-error-continue type="HTTP:FORBIDDEN" doc:name="Manejar error 403">
                    <ee:transform doc:name="Generar respuesta error">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
                            output application/json
                            ---
                            {
                                "error": "Documento no disponible",
                                "message": "El documento aún no está listo para descarga"
                            }]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="consultar-estado">
        <http:listener config-ref="HTTP_Listener_config_Signaturit" 
                      path="/api/signatures/{signatureId}/status" 
                      allowedMethods="GET"
                      doc:name="Recibir consulta estado"/>
        
        <http:request method="GET" 
                    config-ref="HTTP_Request_Signaturit_Config" 
                    path="/v3/signatures/{signatureId}.json"
                    doc:name="Consultar estado en Signaturit">
            <http:headers><![CDATA[#[output application/java
---
{
    "Authorization" : 'Bearer ' ++ p('signaturit.token'),
    "Accept" : 'application/json'
}]]]></http:headers>
            <http:uri-params><![CDATA[#[output application/java
---
{
    "signatureId" : attributes.uriParams.signatureId
}]]]></http:uri-params>
        </http:request>
        
        <ee:transform doc:name="Formatear respuesta estado">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "SUCCESS",
    data: {
        signature_id: payload.id,
        estado: payload.status,
        documento: {
            id: payload.documents[0].id,
            estado: payload.documents[0].status
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <logger level="INFO" 
              message='#["Estado consultado: " ++ write(payload, "application/json")]'
              doc:name="Registrar estado consultado"/>
    </flow>
</mule>